In [4]:
import numpy as np
import pandas as pd

In [5]:
#Disney Data

disney_data = pd.read_csv("/Users/Judy/Downloads/disney_movies.csv")
print ("Disney Data Loaded Successfully!")
print (disney_data)

Disney Data Loaded Successfully!
                         movie_title release_date      genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[579 rows x 6 columns]

In [4]:
disney_data.head()

,movie_title,release_date,genre,mpaa_rating,total_gross,inflation_adjusted_gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730

In [5]:
disney_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 579 entries, 0 to 578
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   movie_title               579 non-null    object
 1   release_date              579 non-null    object
 2   genre                     562 non-null    object
 3   mpaa_rating               523 non-null    object
 4   total_gross               579 non-null    int64
 5   inflation_adjusted_gross  579 non-null    int64
dtypes: int64(2), object(4)
memory usage: 27.3+ KB

In [6]:
disney_data['genre'].value_counts()

Comedy                 182
Adventure              129
Drama                  114
Action                  40
Thriller/Suspense       24
Romantic Comedy         23
Documentary             16
Musical                 16
Western                  7
Horror                   6
Black Comedy             3
Concert/Performance      2
Name: genre, dtype: int64

In [7]:
disney_data['mpaa_rating'].value_counts()

PG           187
PG-13        145
R            102
G             86
Not Rated      3
Name: mpaa_rating, dtype: int64

In [12]:
new_name = {'movie_title' : 'Movie Title', "release_date" : 'Release Date', 'genre' : 'Genre', 'mpaa_rating' : 'MPAA Rating', 'total_gross' : 'Total Gross', 'inflation_adjusted_gross' : 'Inflation Adjusted Gross'}

disney_data.rename(columns= new_name, inplace=True)
disney_data.head()

,Movie Title,Release Date,Genre,MPAA Rating,Total Gross,Inflation Adjusted Gross
0,Snow White and the Seven Dwarfs,1937-12-21,Musical,G,184925485,5228953251
1,Pinocchio,1940-02-09,Adventure,G,84300000,2188229052
2,Fantasia,1940-11-13,Musical,G,83320000,2187090808
3,Song of the South,1946-11-12,Adventure,G,65000000,1078510579
4,Cinderella,1950-02-15,Drama,G,85000000,920608730

In [ ]:
#Question 1. A MPAA Rating of G has a greater gross revenue with inflation over other MPAA Ratings.

In [11]:
df = pd.read_csv("/Users/Judy/Downloads/disney_movies.csv")
print(df)

                         movie_title release_date      genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[579 rows x 6 columns]

In [16]:
value_list = ["G"]
boolean_series = df.mpaa_rating.isin(value_list)
filtered_df = df[boolean_series]

print(filtered_df)

                         movie_title release_date        genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21      Musical           G
1                          Pinocchio   1940-02-09    Adventure           G
2                           Fantasia   1940-11-13      Musical           G
3                  Song of the South   1946-11-12    Adventure           G
4                         Cinderella   1950-02-15        Drama           G
..                               ...          ...          ...         ...
523                       Chimpanzee   2012-04-20  Documentary           G
533              Monsters University   2013-06-21    Adventure           G
545                            Bears   2014-04-18  Documentary           G
557                   Monkey Kingdom   2015-04-17  Documentary           G
568               A Beautiful Planet   2016-04-29  Documentary           G

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
523     28965459                  30675725
533    268488329                 278395641
545     17780194                  18346024
557     16432322                  16432322
568      7895708                   7895708

[86 rows x 6 columns]

In [21]:
filtered_df['inflation_adjusted_gross'].mean()

291260995.0116279

In [15]:
inverse_boolean_series = ~df.mpaa_rating.isin(value_list)
inverse_filtered_df = df[inverse_boolean_series]

print(inverse_filtered_df)

                      movie_title release_date      genre mpaa_rating  \
5    20,000 Leagues Under the Sea   1954-12-23  Adventure         NaN
7                 Sleeping Beauty   1959-01-29      Drama         NaN
9     The Absent Minded Professor   1961-03-16     Comedy         NaN
11                    Bon Voyage!   1962-05-17     Comedy   Not Rated
12         The Sword in the Stone   1963-12-25  Adventure         NaN
..                            ...          ...        ...         ...
574      The Light Between Oceans   2016-09-02      Drama       PG-13
575                Queen of Katwe   2016-09-23      Drama          PG
576                Doctor Strange   2016-11-04  Adventure       PG-13
577                         Moana   2016-11-23  Adventure          PG
578  Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
5       28200000                 528279994
7        9464608                  21505832
9       25381407                 310094574
11       9230769                 109581646
12      22182353                 153870834
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[493 rows x 6 columns]

In [22]:
inverse_filtered_df['inflation_adjusted_gross'].mean()

88671512.02028398

In [ ]:
#Answer: True, G rating result in $291,260,995 vs Non-G rating result $88,671,512 with adjustment for inflation

In [ ]:
#Question 2. Highest Grossing Films are within the Comedy Genre

In [23]:
df = pd.read_csv("/Users/Judy/Downloads/disney_movies.csv")
print(df)

                         movie_title release_date      genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[579 rows x 6 columns]

In [25]:
value_list = ["Comedy"]
boolean_series = df.genre.isin(value_list)
filteredgenre_df = df[boolean_series]

print(filteredgenre_df)

                                movie_title release_date   genre mpaa_rating  \
8                            101 Dalmatians   1961-01-25  Comedy           G
9               The Absent Minded Professor   1961-03-16  Comedy         NaN
11                              Bon Voyage!   1962-05-17  Comedy   Not Rated
14                       Blackbeard's Ghost   1968-02-08  Comedy         NaN
16                             The Boatniks   1970-07-01  Comedy         NaN
..                                      ...          ...     ...         ...
528                           Frankenweenie   2012-10-05  Comedy          PG
535                           Disney Planes   2013-08-09  Comedy          PG
540                            Delivery Man   2013-11-22  Comedy       PG-13
543                     Muppets Most Wanted   2014-03-21  Comedy          PG
551  Alexander and the Terrible, Horrible,…   2014-10-10  Comedy          PG

     total_gross  inflation_adjusted_gross
8      153000000                1362870985
9       25381407                 310094574
11       9230769                 109581646
14      21540050                 138612686
16      18607492                 101200742
..           ...                       ...
528     35287788                  37363513
535     90282580                  93614037
540     30659817                  31787136
543     51178893                  52807594
551     66954149                  69055550

[182 rows x 6 columns]

In [29]:
filteredgenre_df['total_gross'].mean()

44613294.93406593

In [27]:
inverse_boolean_series = ~df.genre.isin(value_list)
inverse_filteredgenre_df = df[inverse_boolean_series]

print(inverse_filteredgenre_df)

                         movie_title release_date      genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[397 rows x 6 columns]

In [30]:
inverse_filteredgenre_df['total_gross'].mean()

73911123.11083123

In [ ]:
#Answer - False, Comedy gross is 44,613,295 vs  Non-comedy total gross is 73,911,123

In [18]:
#Question 3. Disney Films Released prior to 1989 have a lower gross per film compared to those released during and after 1989

                         Movie Title Release Date      Genre MPAA Rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     Total Gross  Inflation Adjusted Gross       avg_num
0      184925485                5228953251  5.228953e+09
1       84300000                2188229052  2.188229e+09
2       83320000                2187090808  2.187091e+09
3       65000000                1078510579  1.078511e+09
4       85000000                 920608730  9.206087e+08
..           ...                       ...           ...
574     12545979                  12545979  1.254598e+07
575      8874389                   8874389  8.874389e+06
576    232532923                 232532923  2.325329e+08
577    246082029                 246082029  2.460820e+08
578    529483936                 529483936  5.294839e+08

[579 rows x 7 columns]

In [33]:
df = pd.read_csv("/Users/Judy/Downloads/disney_movies.csv")
print(df)

                         movie_title release_date      genre mpaa_rating  \
0    Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                          Pinocchio   1940-02-09  Adventure           G
2                           Fantasia   1940-11-13    Musical           G
3                  Song of the South   1946-11-12  Adventure           G
4                         Cinderella   1950-02-15      Drama           G
..                               ...          ...        ...         ...
574         The Light Between Oceans   2016-09-02      Drama       PG-13
575                   Queen of Katwe   2016-09-23      Drama          PG
576                   Doctor Strange   2016-11-04  Adventure       PG-13
577                            Moana   2016-11-23  Adventure          PG
578     Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross
0      184925485                5228953251
1       84300000                2188229052
2       83320000                2187090808
3       65000000                1078510579
4       85000000                 920608730
..           ...                       ...
574     12545979                  12545979
575      8874389                   8874389
576    232532923                 232532923
577    246082029                 246082029
578    529483936                 529483936

[579 rows x 6 columns]

In [46]:
df = pd.read_csv("/Users/Judy/Downloads/disney_movies.csv")
df['Dates'] = pd.to_datetime(df['release_date']).dt.date

filtereddate_df = df.loc[(df['release_date'] >= '1937-12-21')
                     & (df['release_date'] < '1989-01-01')]

print(filtereddate_df)

                        movie_title release_date      genre mpaa_rating  \
0   Snow White and the Seven Dwarfs   1937-12-21    Musical           G
1                         Pinocchio   1940-02-09  Adventure           G
2                          Fantasia   1940-11-13    Musical           G
3                 Song of the South   1946-11-12  Adventure           G
4                        Cinderella   1950-02-15      Drama           G
..                              ...          ...        ...         ...
69                 Heartbreak Hotel   1988-09-30     Comedy         NaN
70                  The Good Mother   1988-11-04      Drama         NaN
71           Ernest Saves Christmas   1988-11-11     Comedy          PG
72                 Oliver & Company   1988-11-18  Adventure           G
73                          Beaches   1988-12-21      Drama       PG-13

    total_gross  inflation_adjusted_gross       Dates
0     184925485                5228953251  1937-12-21
1      84300000                2188229052  1940-02-09
2      83320000                2187090808  1940-11-13
3      65000000                1078510579  1946-11-12
4      85000000                 920608730  1950-02-15
..          ...                       ...         ...
69      5509417                  11300331  1988-09-30
70      4764606                   9772655  1988-11-04
71     28202109                  57845202  1988-11-11
72     49576671                 102254492  1988-11-18
73     57041866                 120381757  1988-12-21

[74 rows x 7 columns]

In [45]:
filtereddate_df['inflation_adjusted_gross'].mean()

283518216.027027

In [49]:
df = pd.read_csv("/Users/Judy/Downloads/disney_movies.csv")
df['Dates'] = pd.to_datetime(df['release_date']).dt.date

filteredinvdate_df = df.loc[(df['release_date'] >= '1989-01-01')
                     & (df['release_date'] < '2021-01-01')]

print(filteredinvdate_df)

                      movie_title release_date      genre mpaa_rating  \
74                Three Fugitives   1989-01-27     Comedy       PG-13
75               New York Stories   1989-03-01      Drama          PG
76             Disorganized Crime   1989-04-14     Comedy         NaN
77             Dead Poets Society   1989-06-02      Drama          PG
78       Honey, I Shrunk the Kids   1989-06-23  Adventure          PG
..                            ...          ...        ...         ...
574      The Light Between Oceans   2016-09-02      Drama       PG-13
575                Queen of Katwe   2016-09-23      Drama          PG
576                Doctor Strange   2016-11-04  Adventure       PG-13
577                         Moana   2016-11-23  Adventure          PG
578  Rogue One: A Star Wars Story   2016-12-16  Adventure       PG-13

     total_gross  inflation_adjusted_gross       Dates
74      40590000                  85757817  1989-01-27
75      10763469                  22740861  1989-03-01
76       7210149                  15233465  1989-04-14
77      95860116                 202531517  1989-06-02
78     130724172                 276191669  1989-06-23
..           ...                       ...         ...
574     12545979                  12545979  2016-09-02
575      8874389                   8874389  2016-09-23
576    232532923                 232532923  2016-11-04
577    246082029                 246082029  2016-11-23
578    529483936                 529483936  2016-12-16

[505 rows x 7 columns]

In [51]:
filteredinvdate_df['inflation_adjusted_gross'].mean()

47783153011

In [ ]:
#Answer - False, Before 01-01-1989 = $283,518,216 and After 01-01-1989 = $94,620,104